.u-section-1 .u-sheet-1 {
  min-height: 303px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 156px;
}

.u-section-2 .u-btn-1 {
  font-size: 2rem;
  border-style: none;
  background-image: none;
  margin: 43px auto 41px;
  padding: 19px 81px 20px 80px;
}