.u-section-1 .u-sheet-1 {
  min-height: 153px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 485px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 485px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 255px;
  height: 254px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 24px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 483px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-2 .u-icon-2 {
  width: 255px;
  height: 252px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 153px;
}

.u-section-3 .u-text-1 {
  margin: 50px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 421px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 199px;
  height: 199px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-4 .u-icon-2 {
  width: 199px;
  height: 198px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 21px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-4 .u-icon-3 {
  width: 199px;
  height: 199px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 123px;
}

.u-section-5 .u-text-1 {
  margin: 40px auto 30px;
}.u-section-6 .u-sheet-1 {
  min-height: 373px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 353px;
}

.u-section-6 .u-container-layout-1 {
  padding: 13px 30px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 353px;
}

.u-section-6 .u-container-layout-2 {
  padding: 13px 30px 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-6 .u-icon-2 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-6 .u-container-layout-3 {
  padding: 13px 30px 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-icon-3 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 816px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 123px;
}

.u-section-7 .u-text-1 {
  margin: 40px auto 30px;
}.u-section-8 .u-sheet-1 {
  min-height: 373px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 353px;
}

.u-section-8 .u-container-layout-1 {
  padding: 13px 30px 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-icon-1 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 353px;
}

.u-section-8 .u-container-layout-2 {
  padding: 13px 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-icon-2 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-8 .u-container-layout-3 {
  padding: 13px 30px 30px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-icon-3 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 816px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 123px;
}

.u-section-9 .u-text-1 {
  margin: 40px auto 30px;
}.u-section-10 .u-sheet-1 {
  min-height: 393px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 353px;
}

.u-section-10 .u-container-layout-1 {
  padding: 13px 30px 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-10 .u-icon-1 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  color: rgb(0, 0, 0) !important;
  margin: 29px auto 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 353px;
}

.u-section-10 .u-container-layout-2 {
  padding: 13px 30px 30px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-10 .u-icon-2 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  color: rgb(0, 0, 0) !important;
  margin: 29px auto 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-10 .u-container-layout-3 {
  padding: 13px 30px 30px;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-10 .u-icon-3 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  color: rgb(0, 0, 0) !important;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 816px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 156px;
}

.u-section-11 .u-btn-1 {
  font-size: 2rem;
  border-style: none;
  background-image: none;
  margin: 43px auto 41px;
  padding: 19px 81px 20px 80px;
}